<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/styleProfile.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body class="w3-light-grey">
<header>
</header>
<br>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
<!-- Page Container -->
<div class="w3-content w3-margin-top " style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <br>
                            <div class="w3-container w3-teal w3-round-large">
                                <h6>Welcome {{user.fullName}}</h6>
                            </div>
                            <br/><br/>
                    </div>
                </div>

                <div class="w3-container w3-round-large">
                    <form class="form w3-round-large" enctype="multipart/form-data" method="POST" action="/profile/profile">

                            <label class="col-sm-12 control-label" for="image">Add picture</label>
                        <br>
                            <div class="col-sm-12">
                                <input class="form-control" id="image" type="file" name="image"/>
                            </div>
                        <br>


                        <p>
                            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Profession
                            <input class="profession w3-round-large" value="{{this.profession}}" type="text" name="profession" placeholder="Profession">

                        </p>
                        <br>
                        <p>
                            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email
                            <input class="name w3-round-large" value="{{this.email}}" type="email" name="email" placeholder="Email">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>GitHub
                            <input class="name w3-round-large" value="{{this.github}}" type="text" name="github" placeholder="GitHub">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone
                            <br>
                            <input class="name w3-round-large" value="{{this.tel}}" type="tel" name="tel" placeholder="Phone">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Country
                            <input class="name w3-round-large" value="{{this.country}}" type="text" name="country" placeholder="Country">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Town
                            <input class="name w3-round-large" value="{{this.town}}" type="text" name="town" placeholder="Town">
                        </p>
                        <br>
                        <p>
                            <i class=" fa-fw w3-margin-right w3-large w3-text-teal w3-round-large"></i>Age
                            <input class="name w3-round-large" value="{{this.age}}" type="number" name="age" placeholder="Age">
                        </p>
                        <br>
                        <p>
                            <i class="fa-fw w3-margin-right w3-large w3-text-teal w3-round-large"></i>Gender
                            <br>
                            <input class="name w3-round-large" type="radio" name="sex" value="male" placeholder="Gender"> Male
                            <br>
                            <input class="name w3-round-large" type="radio" name="sex" value="female" placeholder="Gender"> Female
                        </p>
                        <hr>
                        <br><br>
                        <br><br>
                        <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom w3-round-large">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <br>
                <textarea class="w3-margin-bottom w3-round-large" placeholder="Work Experience" name="workExperience">{{this.workExperience}}</textarea>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-round-large">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <br>
                <textarea class="w3-margin-bottom w3-round-large w3-round-large" placeholder="Education" name="education">{{this.education}}</textarea>

            <!-- End Right Column -->
        </div>


        <button type="submit" href="profile/profile" class="btn btn-success">Edit</button>


        <!-- End Grid -->
    </div>
    </form>
    <!-- End Page Container -->
</div>
</body>
</html>


