<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/styleProfile.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body class="w3-light-grey">
<header>
</header>
<br>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src=" " style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <br/><br/>
                        {{#if user}}
                            <div class="w3-container w3-teal w3-round-large">
                                <h6>Welcome {{user.fullName}}</h6>
                            </div>
                            <br/><br/>
                        {{/if}}
                    </div>
                </div>

                <div class="w3-container w3-round-large">
                  <p>
                        <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Profession: {{this.profession}}
                    </p>
                    <p>
                        <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: {{this.user.email}}
                    </p>
                    <p>
                        <i class="fa fa-asterisk w3-margin-right w3-large w3-text-teal"></i>Github: {{this.github}}
                    </p>
                    <p>
                        <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Country: {{this.country}}
                    </p>
                    <p>
                        <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Town: {{this.town}}
                    </p>
                    <p>
                        <i class="fa fa-asterisk w3-margin-right w3-large w3-text-teal"></i>Age: {{this.age}}
                    </p>
                    <p>
                        <i class="fa fa-asterisk w3-margin-right w3-large w3-text-teal"></i>Gender: {{this.sex}}
                    </p>
                    <hr>
                    <br>
                    </form>
                </div>
                <br>
            </div><br>
            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom w3-round-large">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal">Work Experience: </i>{{this.workExperience}}</h2>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-round-large">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal">Education: </i>{{this.education}}</h2>
            </div>
            <br>

            <div>
                <button class="w3-padding-8 w3-round-large"><i class="fa-fw w3-margin-right"></i><a href="/editProfile"><b>Edit Profile</b></a></button>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
</body>
</html>


