<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href='/stylesheets/listings.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>Junior developers listings</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<div id="ideas">
    <div class="row">
            <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large">
                <div class="col-md-6">
                    <listings>
                        <small class="date">
                            <br><br>
                            <p class="postDate">date of publication: {{listing.date}}</p>
                        </small>
                        <small class="position">
                            <h4>{{this.position}}</h4>
                        </small>
                        <small class="author">
                            <h3>{{listing.author}}</h3>
                        </small>
                        <p>{{listing.content}}
                        </p>

                        <small class="email">
                            email: {{listing.email}}
                        </small>
                        <br>
                        <small class="phone">
                            phone: {{listing.phone}}
                        </small>

                    </listings>
                </div>
            </div>
            <script>
                let date = $('.postDate').text();
                let formattedDate = moment(date).format('LLLL');
                $('.postDate').html(`Posted on <em>${formattedDate}</em>`)
            </script>

            <div class="pull-right">
                {{#if isUserAuthorized}}
                <form class="form" method="POST" action="/listings/delete/{{listing.id}}">
                    <a class="btn btn-danger btn-xs" href="/listings/delete/{{listing.id}}">Delete</a>
                </form>
                {{/if}}
            </div>
    </div>
</div>