<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href='/stylesheets/listings.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>Junior developers listings</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>

<div class="container body-content">
    <div class="row">
        <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large" id="blogcontent">
            <article>
                <header id="blogtitle">
                    <h2>{{article.title}}</h2>
                </header>

                <p>
                    {{article.content}}
                </p>

                {{#if article.pathImage}}
                        {{#grouped_each 3 article.pathImage}}
                            <div class="row">
                                {{#each this}}
                                    <div class="col-md-4" style="margin-bottom: 10px">
                                        <img src="{{this}}" alt="Article Image" id="Image" name="Images" width="330px"/>
                                        <!--<div class="col-md-12 col-md-offset-5">-->
                                        <!--<label class="control-label" for="Image" id="picsLabel">-->
                                        <!--{{@index}}-->
                                        <!--</label>-->
                                        <!--</div>-->
                                    </div>
                                {{/each}}
                            </div>
                        {{/grouped_each}}
                {{/if}}

                {{#if article.pathPdf}}
                    <embed src="{{article.pathPdf}}" alt="Pdf File" width="800px" height="800px" />
                {{/if}}

                <div class="col-md-12">
                <p>
                    <small class="author">
                        {{article.author.fullName}}
                    </small>
                </p>
                </div>
                <footer>
                    <div class="pull-left">
                        {{#if article.dateEdit}}
                            <p class="postDateEdit">{{article.dateEdit}}</p>
                        {{/if}}
                        <p class="postDate">Posted on {{article.date}}</p>
                    </div>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/blog">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>

<div id="comments">
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="http://www.htmlcommentbox.com/static/skins/default/skin.css" />
 <script type="text/javascript" language="javascript" id="hcb">
  /*<!--*/ if(!window.hcb_user){hcb_user={  };}
   (function(){s=document.createElement("script");
   s.setAttribute("type","text/javascript");
   s.setAttribute("srcconsole.log(date);", "http://www.htmlcommentbox.com/jread?page="+escape((window.hcb_user && hcb_user.PAGE) || (""+window.location)).replace("+","%2B")+"&opts=470&num=10");
   if (typeof s!="undefined") {

   }
   document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
</div>

<script>
    let date = $('.postDate').text();

    const dateFormat = 'L' + " - " + 'LT';
    let formattedDate = moment(date).format(dateFormat);
    $('.postDate').html(`Posted on <em>${formattedDate}</em>`);

    let dateE = $('.postDateEdit').text();
    let formattedDateE = moment(dateE).format(dateFormat);
    $('.postDateEdit').html(`Edited on <em>${formattedDateE}</em>`);
</script>