<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Junior developers</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/moment.min.js"></script>
</head>
<body>
<header>
    <div class="navmenu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                </button>
            </div>
            {{#if user}}
               <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/home"><img src="/../pictures/home.png" style="height: 22px; width: 40px; object-fit: contain" ></a></li>
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/listings">Listings</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contactUs">Contact</a></li>
                        <li class="navbar-right"><a href="/user/logout">Logout</a></li>
                        <li class="navbar-right"><a href="/article/create">New Article</a></li>
                        <li class="navbar-right"><a href="/profile/profile">Welcome {{user.fullName}}!</a></li>
                    </ul>
                </div>
            </div>
    </div>
</header>
    <header>
        <div class="navmenu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            {{/if}}
            {{#unless user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/home"><img src="/../pictures/home.png" style="height: 22px; width: 40px; object-fit: contain" ></a></li>
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/listings">Listings</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contactUs">Contact</a></li>
                        <li class="navbar-right"><a href="/user/login">Login</a></li>
                        <li class="navbar-right"><a href="/user/register">Register</a></li>
                    </ul>
                </div>
            {{/unless}}
            </div>
        </div>
    </header>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}<div id="blogcontent">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header id="blogtitle">
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        {{this.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"
                               href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2017 - Software University Foundation</p>
        <script>
            let mydate=new Date();
            let year=mydate.getYear();
            if (year < 1000)
                year+=1900;
            let day=mydate.getDay();
            let month=mydate.getMonth();
            let daym=mydate.getDate();
            if (daym<10)
                daym="0"+daym;
            let dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
            let montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December");
            document.write("<font class='container modal-footer'><b>"+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"</b></font>")
        </script>
        <br> </br>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://www.facebook.com/SoftwareUniversity/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/softunibg" target="_blank" class="fa fa-twitter"></a>
    </div>
</footer>
</html>
