<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href='/stylesheets/listings.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>Junior developers listings</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<div id="ideas">
    <div class="row">
        <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large">
            <div class="col-md-6">
                <listings>
                    <small class="country">
                        <br><br>
                        <p class="country">country: {{user.profile.country}}</p>
                    </small>
                    <small class="position">
                        <h4>{{user.email}}</h4>
                    </small>
                    <small class="author">
                        <h3>{{listing.author}}</h3>
                    </small>
                    <p>{{listing.content}}
                    </p>

                    <small class="email">
                        email: {{listing.email}}
                    </small>
                    <br>
                    <small class="phone">
                        phone: {{user.profile.phone}}
                    </small>

                </listings>
            </div>
        </div>

    </div>
</div>